<suite name="First Suite" verbose="1">
	<test name="First Test">
		<classes>
			<class name="firstPackage.firstClass"/>
			<methods>
				<include name="secondMethod"/>
			</methods>
		</classes>
	</test>
		<test name="Second Test">
		<classes>
			<class name="secondPackage.firstClass"/>
			<methods>
				<include name="secondMethod"/>
			</methods>
		</classes>
	</test>
</suite>